body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.bio {
    font-size: 1em;
    font-style: italic;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #555;
}

.email-link {
    color: grey;
    text-decoration: underline;
    font-style: italic;
  }

h1 {
    font-size: 4.5em;
    margin-bottom: 0px;
}

p {
  font-size: 1.2em;
  max-width: 700px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.links a:hover {
    background: #000;
    color: #fff;
}

.socials {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.socials a img {
    width: 35px;
    height: 35px;
    transition: transform 0.2s ease-in-out;
}

.socials a img:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.2em;
    }

    .bio {
        font-size: 0.9em;
    }

    .links {
        flex-wrap: wrap;
        justify-content: center;
      }
      

    .links a {
        text-decoration: none;
        color: #000; 
        font-weight: bold;
        border: 2px solid #000; 
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .socials {
        gap: 10px;
    }

    .socials a img {
        width: 30px;
        height: 30px;
    }
}